<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
  <h1>{{title}}</h1>
</nav>

<div class="center">
  <div class="calculator">
    <div class="display">
      <input type="text" id="result" value="0" disabled [(ngModel)]="result">
    </div>
    <div class="buttons">
      <button class="btnclear" (click)="borradoParcial()">CE</button>
      <button class="btnclear" (click)="borradoTotal()">C</button>
      <button class="btnclear" (click)="back()"><i class="fa-sharp fa-solid fa-delete-left"></i></button>

      <button class="btnoperator" (click)="addToResult('/')"><i class="fa-solid fa-divide"></i></button>
      <button class="btnnumber" (click)="addToResult('7')">7</button>
      <button class="btnnumber" (click)="addToResult('8')">8</button>
      <button class="btnnumber" (click)="addToResult('9')">9</button>
      <button class="btnoperator" (click)="addToResult('*')"><i class="fa-solid fa-xmark"></i></button>
      <button class="btnnumber" (click)="addToResult('4')">4</button>
      <button class="btnnumber" (click)="addToResult('5')">5</button>
      <button class="btnnumber" (click)="addToResult('6')">6</button>
      <button class="btnoperator" (click)="addToResult('-')"><i class="fa-solid fa-minus"></i></button>
      <button class="btnnumber" (click)="addToResult('1')">1</button>
      <button class="btnnumber" (click)="addToResult('2')">2</button>
      <button class="btnnumber" (click)="addToResult('3')">3</button>
      <button class="btnoperator" (click)="addToResult('+')"><i class="fa-solid fa-plus"></i></button>
      <button class="btnnumber" (click)="addToResult('0')">0</button>
      <button class="btnnumber" (click)="addToResult('.')">.</button>
      <button class="btnequals" (click)="calculate()"><i class="fa-solid fa-equals"></i></button>
    </div>
  </div>
</div>

<footer class="bg-dark text-center text-white" style="background-color: rgba(0, 0, 0, 0.2);">
  <div class="text-center p-3">
    {{ year }} cardavid7
    <a class="btn btn-outline-light btn-floating m-1" href="" target="_blank" role="button"><i
        class="fab fa-github"></i></a>
  </div>
</footer>